<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Whisper</title>
    <link rel="stylesheet" href="style.css">    
    <link rel="stylesheet" href="normalize.css">
</head>
 <section class="main-header">
    <img src="<%= asset_path "ruby.png" %>">
    <img src="<%= asset_path "whisper.png" %>">
  </section>
</head>
  
  
  <section class="about">
    <h1>About Whisper</h1>
    <p>
       Whisperは、Rubyを勉強している人たちのささややきのアプリです。<br>
       みんなでささやいてつながりましょう。
    </p>
   
  </section>
   <section class="function container-fluid">
    <div class="row">
        
      <div class="col-md-offset-1 col-md-3 col-sm-6">
        <img class="key" src="<%= asset_path "key.png" %>">
        
       <p> ログイン</p>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <img class="mail" src="<%= asset_path "mail.png" %>">
       <p> メール送信</p>
    </div> 
     <div class="col-md-3 col-sm-6">
       <img class="comment" src="<%= asset_path "comment1.png" %>">
      <p> ささやき投稿</p>
</div>   
 
  </div>
  </section>
</body>
</html>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>